<div>
    <div class="container">
        <div class="topnav">
            <a href="#">ขาย</a>
            <a href="#">ขายสินค้ากับช้อปปี้</a>
            <a href="#">ดาวน์โหลด</a>
            <a href="#">ติดตามเราบน</a>
            <div class="topnav-right">
                <a href="#">การแจ้งเตือน</a>
                <a href="#">ช่วยเหลือ</a>
                <a href="#">เข้าสู่ระบบ</a>
            </div>
        </div>

        <!-- <div class="topnav">
            
            <input type="text">
    
            <div class="topnav-right">
    
            </div>
        </div> -->
    </div>




</div>