body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    
  }

  .banner{
    background-color: #FB5731;
    height: 200px;
    width: 50%;
    margin-top: 20px;
    margin-left: 10%;
    display: inline-block;
  }

  .banner2{
    background-color: #FB5731;
    height: 200px;
    width: 30%;
    margin-top: 20px;
    margin-left: 1%;
    display: inline-block;
    
  }


  